/*Navigation*/
#main-nav .social{
    display: none;
}

#main-nav .container{
    grid-template-columns: 1fr;
    grid-gap: 1.2rem
}


#main-nav ul,
#main-nav .logo{
    justify-self: center;
}

#main-nav ul li a{
    padding: 0.5rem;
}

#home-articles .articles-container {
    grid-template-columns: repeat(2, 1fr);
}

#home-articles .articles-container >*:first-child,
#home-articles .articles-container >*:last-child{
    grid-template-columns: 1fr;
    grid-column: 1;
}

@media(max-width: 600px) {
 #showcase .showcase-container,
 #home-article .articles-container,
 #main-footer .footer-container {
     grid-template-columns: 1fr;
 }

 #main-footer .footer-container>*:last-child{
     grid-column: 1;
 }

 #main-footer .footer-container>*{
     border-bottom: #444 dotted 1px;
     padding-bottom: 1rem;
 }
 #main-footer .footer-container >*:last-child,
 #main-footer .footer-container >*:nth-child(3),
 #main-footer .footer-container >*:nth-child(4){
     border: none;
 }

.page-container{
    grid-template-columns: 1fr;
    text-align: center;
}
.page-container >*:first-child{
    grid-row: 1;
}
.content{
    padding-top: 500px;
}
p{
    font-size: 20px;
    font-weight: 300;
}


.text{
    margin-top: 100px;
    font-size: 25px;
    font-weight: bolder;
    height: 50px;
}
.btn{
        background: linear-gradient(to right, transparent 50%, #ffbd59);
        background-size: 200% auto;
        background-position: left;
        margin-right: 70px;
        padding: 5px 10px;
        text-align: center;
        border: 2px solid #ffbd59;
        outline: none;
        color: #fff;
        font-weight: 50;
        text-transform: uppercase;
        font-size: 20px;
        border-radius: 30px;
        cursor: pointer;
        box-shadow: 3px 8px 22px rgba(22, 21 21 0.15);
        transition: background-position 0.5s;
    }
}

